@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    font-family: 'Lobster', cursive;
    text-align: center;
    background: rgba(189, 19, 19, 0.74)
}
.capa{
    width: 100%;
}

.beneficios {
    text-align: left;
    background-color: rgba(255, 0, 55, 0.322);
}
ul {
    display: inline-block;
    vertical-align: top;
    margin-right: 100px;
}
li {
    padding: 25px;
    font-size: 26px;
}
.foto-beneficios {
    width: 40%;
}